.venv
.vscode
.DS_Store

data.json
chromedriver.exe
chromedriver

/iconic_coat_jackets
/iconic_jeans
/iconic_pants
/iconic_shirts
/iconic_shorts
/iconic_sweats_hoods
/iconic_tshirts
/iconic_womens_dresses
/iconic_womens_pants
/iconic_womens_shorts
/iconic_womens_skirts
/iconic_womens_sweats_hoods
/iconic_womens_tshirts